<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.system.mapper.SysUsersMapper">

    <resultMap id="BaseResultMap" type="com.example.system.domain.SysUsers">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="mobile" column="mobile" jdbcType="VARCHAR"/>
            <result property="valid" column="valid" jdbcType="TINYINT"/>
            <result property="deptid" column="deptId" jdbcType="INTEGER"/>
            <result property="createdtime" column="createdTime" jdbcType="TIMESTAMP"/>
            <result property="modifiedtime" column="modifiedTime" jdbcType="TIMESTAMP"/>
            <result property="createduser" column="createdUser" jdbcType="VARCHAR"/>
            <result property="modifieduser" column="modifiedUser" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password
    ,email,mobile,
        valid,deptId,createdTime,
        modifiedTime,createdUser,modifiedUser
    </sql>
    <update id="setVaild">
        update sys_users set valid=#{vaild} where id=#{userId}
    </update>
    <select id="loadUserByUsername" resultType="com.example.system.domain.SysUsers">
        select <include refid="Base_Column_List"></include> from sys_users where username=#{username}
    </select>
    <select id="getPermission" resultType="java.lang.String">
        select permission from sys_user_roles left join sys_role_menus on (sys_role_menus.role_id=sys_user_roles.role_id)
                                              left join sys_menus on (menu_id=sys_menus.id)
        where user_id=#{userId}
    </select>
</mapper>
